<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->



<script type="text/x-handlebars-template" id="graph-control-panel-search-template">
    <div class="row-fluid">
        <input class="graph-control-panel-search-dropdown" type="text"/>
    </div>
</script>

